<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript">
        var _queryString = function (val) {
            /*获取url参数*/
            var _getVal = function (val) {
                var _ret, re;
                var uri = window.location.href;
                re = new RegExp("" + val + "\=([^\&\?]*)", "gi");
                _ret = uri.match(re);
                return ((uri.match(re)) ? decodeURI(uri.match(re)[0].substr(val.length + 1)) : null);
            };
            /*获取单个url参数*/
            if (val.constructor == String) {
                return _getVal(val);
            }
            /*批量获取url参数*/
            //queryString的参数为对象时返回对象
            if (val.constructor == Object) {
                var ival
                for (var i in val) {
                    if (val.hasOwnProperty(i)) {
                        ival = _getVal(i);
                        if (ival) {
                            val[i] = ival;
                        }
                    }
                }
                return val;
            }
            //queryString参数为数组是返回数组
            if (val.constructor == Array) {
                var i = val.length;
                while (i--) {
                    val[i] = _getVal(val[i]);
                }
                return val;
            }
            return null;
        };
        window.onload = function () {
            setTimeout(function () {
                window.location.href = decodeURIComponent(_queryString('x'));
            }, 5000); 
        };
    </script>
</head>
<body>
    <p style="font-size:100px">这里是互动购物测试中转页，最终目的地是微信店铺。小菜在玩，等待5秒</p>
</body>
</html>

