<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../public/css/global.css" />
    <link type="text/css" rel="stylesheet" href="../../public/css/ico.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_btn/css/style.css" />
    <link type="text/css" rel="stylesheet" href="../../public/wm_form/css/style.css" />
    <link type="text/css" rel="stylesheet" href="css/stylev2.css" />
    <script type="text/javascript" src="http://a.myhd.wumeiwang.com/hdgw/model/lib/seajs/sea.js"></script>
    <script type="text/javascript" src="http://a.myhd.wumeiwang.com/hdgw/view/ago/user_entrance/config.js" data-init="login_v2"></script>
    <style>
       
    </style>
</head>
<body>
    <div id="page">
        <div class="head">
            <div class="head_bg">
                <div class="head_sub">
                    <div class="head_con">
                        <h1 class="wm_logo">
                            <a href="http://www.hdgw.com/" class="wm_logo" title="互动购物">互动购物</a>
                        </h1>
                         <a href="http://www.hdgw.com/" class="cwmw" title="互动购物">互动购物</a>
                        <div class="logo_msg">
                            <span class="ui_btn ui_btn_h22red10"><span class="ui_btn_txt"><i>嗅嗅品牌的味道</i></span></span>
                            <em class="wm_ico triangle1">&nbsp;</em>
                        </div>
                        <div class="link_list link_list1">
                            <a href="#" class="pptm" title="品牌特卖"></a>
                            <a href="#" class="rqjh" title="人气聚合"></a>
                            <a href="#" class="syjf" title="收益均分"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="con_sub_bg">
                <div class="con_sub">
                    <div class="content_main">
                        <div class="content_left">
                            <img width="450" height="540" src="img/bg.jpg" />
                        </div>
                        <div class="content_right">
                            <form class="wm_form login_form">
                                <ul>
                                    <li class="form_row">
                                        <label class="row_key">请登录您的账号</label>
                                        <input type="text" class="form_txt" placeholder="账号" id="user_name" wmv="empty" wmvmsg="请输入登录名">
                                    </li>
                                    <li class="form_row" id="pw_row">
                                        <input type="password" class="form_txt" placeholder="密码" wmv="empty" wmvmsg="请输入密码">
                                    </li>
                                    <!--<li class="form_row">
                                        <input type="text" class="form_txt mb10 w170 v_code_txt" placeholder="验证码" wmv="empty" wmvmsg="验证码不能为空！">
                                        <img src="http://account.hdgw.com/auth" class="mrl5 v_code_img" title="点击更换" />
                                    </li>-->
                                    <li class="form_row">
                                        <span class="ui_btn ui_btn_h46red8">
                                            <input type="submit" class="ui_btn_txt w150 submit" value="登录"></span>
                                    </li>
                                    <li class="form_row">
                                        <input type="checkbox" class="remember_name" id="remember_name" /><label for="remember_name" class="remember_name_key">记住登录账号</label>
                                         <span class="go_reg"><a href="#">免费注册</a></span><a href="#" class="back_pw">忘记密码？</a>
                                    </li>
                                </ul>
                            </form>
                            <div class="third_party ishide">
                                <span>其他合作账号登录：</span>
                                <a href="#" class="social_icon tx_qq" title="腾讯QQ登录"></a>
                                <a href="#" class="social_icon sina_wb" title="新浪微博登录"></a>
                                <a href="#" class="more show_other_login"><span>更多</span><i class="wm_ico arrow4down"></i></a>
                                <ul class="third_party_list">
                                    <li>
                                        <a href="#" title="腾讯微博">腾讯微博</a>
                                    </li>
                                    <li>
                                        <a href="#" title="腾讯微博">腾讯微博</a>
                                    </li>
                                    <li>
                                        <a href="#" title="腾讯微博">腾讯微博</a>
                                    </li>
                                    <li>
                                        <a href="#" title="腾讯微博">腾讯微博</a>
                                    </li>
                                    <li>
                                        <a href="#" title="腾讯微博">腾讯微博</a>
                                    </li>
                                    <li>
                                        <a href="#" title="腾讯微博">腾讯微博</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="bott_sub">
                <div class="put_on_record">
                    <p class="botton">
                        <a href="http://help.wumeiwang.com/au.html">关于我们</a><em>|</em>
                        <a href="#">联系我们</a><em>|</em>
                        <a href="http://account.hdgw.com/seller/reg">品牌入驻</a><em>|</em>
                        <a href="http://help.wumeiwang.com/privacy.html">隐私条款</a><em>|</em>
                        <a href="#">网站地图</a><em>|</em>
                        <a href="#">友情链接</a>
                    </p>
                    <p>经营性网站备案号：浙B2-20080103   客服电话：400-668-0099  Copyright @ 2008 杭州互动购物络科技有限公司 All Right Resarved</p>
                </div>
            </div>
        </div>
    </div>
     <script>
         var global_setting = {}
    </script>
</body>
</html>
